body {
  margin: 60px auto;
  max-width: 1000px;
  border: 2px solid;
  padding-top: 10px;
}
h1 {
  font-family: "Inclusive Sans", sans-serif;
  font-size: 70px;
  margin-top: 80px;
  margin-left: 63px;
  margin-bottom: 5px;
}
img {
  height: 70px;
  margin: 0 auto;
  display: block;
}

small {
  color: rgb(188, 176, 181);
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}
ul {
  color: rgb(188, 176, 181);
  font-size: 23px;
  list-style-type: none;
  margin-left: 25px;
}
.arrowIcon {
  height: 20px;
}
.app-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.author {
  font-size: 15px;
  text-align: center;
}

.day {
  position: relative;
  top: 10px;
}
.degree {
  position: relative;
  left: 600px;
  bottom: 270px;
}
.form-control {
  font-size: 20px;
}

.gitLink {
  color: rgb(159, 162, 250);
  font-size: 15px;
}
.humidity,
.weatherDescription {
  margin-top: 5px;
  margin-bottom: 5px;
}

.submitButton {
  background-color: rgb(136, 93, 241);
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  padding: 20px 40px;
}

.temp {
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  margin-left: 40px;
}

.unit {
  position: relative;
  bottom: 40px;
  right: 5px;
}
.weather {
  margin-left: 210px;
  margin-top: 20px;
}
.weatherDate {
  position: relative;
  left: 25px;
  bottom: 50px;
}
.weatherImage {
  position: relative;
  bottom: 170px;
  left: 100px;
  height: 120px;
}
.weatherForcast {
  font-size: 20px;
  position: relative;
}
.weather-forcast-max {
  margin-left: 20px;
  position: relative;
}
.weather-forcast-image {
  position: relative;
  bottom: 40px;
  font-size: 30px;
}
.weatherForcastTemperature {
  position: relative;
  bottom: 23px;
}
